/* ===== Register Page Styles ===== */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  overflow: hidden;
}

.auth-bg-image{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100svh;
  object-fit: cover;
  z-index: -1; 
}

.container {
  background-color: #ffffff71;
  backdrop-filter: blur(8px);           /* smears/blurs background */
  -webkit-backdrop-filter: blur(8px);   /* Safari support */
  color: black;
  padding: 5rem 4rem 1rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgb(0, 0, 0);
  width: 50rem;
  text-align: center;
  position: relative;
}

h2 {
  margin-bottom: 2rem;
}

a {
  color: var(--text-blue);
}

.reg-form-input-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.form-group {
  text-align: left;
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 14px;
}

.terms {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.terms input {
  margin-right: 8px;
}

.btn-login-register {
  width: 100%;
}

.login-link {
  margin-top: 8rem;
  font-size: 0.9rem;
  color: var(--color-body-dark);
}
