.container-workoutlist {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.workout-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 2rem;
  justify-content: center;
}

